body {
  background-image: url(https://images.pexels.com/photos/974314/pexels-photo-974314.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-repeat: no-repeat;
  background-size: 100%;
}

.button3 {

  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  margin-left: 48%;
  margin-top: 10px;

  width: 150px;
}

.button3:hover {
  background-color: #3e8e41
}

.button3:active {
  background-color: #3e8e41;
  box-shadow: 0 0 8px #00ff40;
  transform: translateY(4px);
}

.name {

  text-transform: uppercase;
  background-image: linear-gradient(-225deg,
      #42b24fac 0%,
      #81ac36 29%,
      #ff1361 67%,
      #fff800 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  border-inline-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 50px;
  margin-left: 600px;
  padding-bottom: 50px;

}

@keyframes textclip {
  to {
    background-position: 200% center;

  }

}

.m1 {
  margin-left: 450px;
  box-shadow: 8px 8px 100px 0 #ff1493, -5px -5px 5px #f7a325, 5px 5px 15px 0 #ff0;
  border-radius: 15px;
  background-color: rgba(255, 0, 204, 0.155);
  width: 650px;
  height: 400px;

}

label {
  font-family: sans-serif;
  font-size: x-large;
  padding: 5px;

}

input {
  border-radius: 50px;

}

#country {
  width: 200px;
  border-radius: 15px;
   margin: 20px; 
   margin-top: 30px; 
} 


#phone {
  width: 40px;
  margin: 5px;
  margin-top: 50px;
}

#fname {
  margin-bottom: 30px;
}

.box2b {
  width: 120px;
}

#femail{
  margin: 30px;
  margin-top: 30px;
  width: 170px;
  
}
#Address{
  margin-top: 50px;
  width: 180px;
}
#State{
  margin: 25px;
  width: 165px;

}

footer{
  background-color: rgb(237, 237, 237);

}
.col{
  margin-left: 700px;
}




